<h1>Categories</h1>
 
<h3>
  <%= link_to "New Category", new_admin_category_path%>
</h3>
 
<%- @categories.each do |category| %>
  <li> <%= link_to category.name, admin_category_products_path(category)%></li>
<% end %>