<h1>Produkti</h1>

<h3>
  <%= link_to "Jauns produkts", new_admin_category_product_path(@category)%>
</h3>

<%- @products.each do |product| %>
  <li> <%= link_to product.name, edit_admin_category_product_path(@category,product)%></li>
  <% end %>