<!DOCTYPE html>
<html>
<head>
  <title>Krogs</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="http://localhost:3000/admin/">Sākums</a></li>
    <li role="presentation"><a href="#">Pasūtījumi</a></li>
   <li role="presentation"><a href="#">Messages</a></li>
  </ul>
  <%= yield %>
</div>  

</body>
</html>